@import "~normalize.css";
// *{
//     outline: 1px solid red;
// }
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
button{
    border: none;
    color: #fff;
    cursor: pointer;
}
@font-face {
    font-family: 'Medium';
    src: url('../fonts/roboto-medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Light';
    src: url('../fonts/roboto-light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bold';
    src: url('../fonts/roboto-bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Regular';
    src: url('../fonts/roboto-regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Semibold';
    src: url('../fonts/proxima-nova.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Light';
    font-size: 18px;
    color: #bababa;
    &.noscroll{
        overflow: hidden;
    }
}

a{
    text-decoration: none;
    color: #fff;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.title__content{
    position: relative;
    top: 70px;
    text-align: center;
    font-family: 'Medium';
    text-transform: uppercase;
    font-size: 36px;
    line-height: 52px;
    color: #58595b;   

}
.title__bg{
    background: url('../images/title-bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    height: 206px;
}
.header{
    background: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 57px;
    .btn{
        z-index: 0;
    }
}

span{
    color: #0059ed;
}

.home__image{
    width: 560px;
    height: 561px;
}

.header__container{
    max-width: 1510px;
    margin: 0 auto;
    padding: 0 20px;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 65px;
}   

.phone{
    font-size: 24px;
    position: relative;
    color: #5d5f61;
    line-height: 28px;
    padding-right: 17px;
    transition: all .3s;
    &::before{
        content: '';
        position: absolute;
        width: 23px;
        height: 32px;
        left: -41px;
        background: url('../images/education_contact.svg') no-repeat;
    }
    &:hover{
        color: #0057ec;
    }
}
.title{
        font-size: 60px;
        color:#58595b;
        font-weight: bold;
        line-height: 100px;
        font-family: 'Bold';
        text-transform: uppercase;
        max-width: 650px;
}
.bur{
    display: none;
}
.popup{
    position: fixed;
    top: 135px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 127, 255);
    transition: all .7s;
    overflow: auto;
}
.open{
    left: 0px;
}
.container{
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
}

.home__inner{
    display: flex;
    justify-content: space-between;
}

.subtitle{
    font-size: 36px;
    line-height: 60px;
    color: rgb(88, 89, 91); 
    margin-bottom: 79px;    
}
.btn{
    position: relative;
    // line-height: 35px;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid transparent;
    background-image: -moz-linear-gradient( 0deg, rgb(0,194,255) 0%, rgb(0,86,236) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(0,194,255) 0%, rgb(0,86,236) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(0,194,255) 0%, rgb(0,86,236) 100%);
    padding: 23px 75px 18px 67px;
    text-transform: uppercase;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        z-index: -1;
        top: -73px;
        width: 297px;
        height: 206px;
        background: url('../images/title-bg.png') no-repeat;
      
    }
    &:hover{
        background-image: none;
        background-color: #0057ec;
    }
}

.home__mouse{
    display: block;
    margin: 85px auto 0;
}

.benefits{
    padding-bottom: 40px;
}
.border__style{
    width: 32px;
    height: 5px;
    margin: 2px auto 108px;
    background-image: -moz-linear-gradient( -1deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
    background-image: -webkit-linear-gradient( -1deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
    background-image: -ms-linear-gradient( -1deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);    
    }
.benefits__items{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 38px;
}
.benefits__img{
    margin-bottom: 41px;
}
.benefits__items-card{
    max-width: 195px;
}
.benefits__title{
    text-transform: uppercase;
    height: 68px;
}

.benefits__description{
    font-size: 15px;
}
.requirements{
    padding-bottom: 33px;

}
.requirements__inner{
    display: flex;
}

.requirements__category{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 37px 12px 33px 50px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 55px 139px 0px rgba(0, 0, 0, 0.11);
        width: 407px;
        height: 511px;
        .btn::after{
            left: -70px;
            top: -77px;
        }
        &-white{
            background-color: #fff;
        }
        &-auto{  
            position: relative;
            bottom: 45px;
            margin-bottom: 0;
            padding: 0;
            background-image: -moz-linear-gradient( -110deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
            background-image: -webkit-linear-gradient( -110deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
            background-image: -ms-linear-gradient( -110deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
            width: 478px;
            height: 603px;
            .requirements__category-title{
                color: #00abff;
                white-space: nowrap;
                padding: 51px 123px 44px 51px;
            }
       
            .requirements__category-item{
                color: #e8f5ff;
                width: 364px;
            }
            .btn{
                color: #0058ec;
                background-image: none;
                background-color: #fff;
            }
            .requirements__category-list{
            border-top: none;
            width: 364px;
            padding: 0 0 0 87px;
            list-style-image: url('../images/li-active.png');
            }
            .requirements__link{
           
                color: #0058ec;
                background-image: none;
                background-color: #fff;
                margin-left: 52px;
                margin-bottom: 35px;
            }
        }
          
}
.requirements__category-list{
    padding-top: 48px;
    max-width: 301px;
    border-top: 2px solid #dddddd;
    list-style-image: url('../images/li.png');

}
.requirements__category-title{
    text-transform: uppercase;
    font-size: 36px;
    color: #545557;
    // padding-bottom: 46px;
    &-other{
        padding-bottom: 0;
    }
}
.requirements__category-item{
    font-size: 14px;
    line-height: 30px;
    color: #545557;
}
.requirements__link{
    padding: 14px 15px 15px 13px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: -30px;
    max-width: 160px;
    border-radius: 10px;
    background-image: -moz-linear-gradient( -1deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
    background-image: -webkit-linear-gradient( -1deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
    background-image: -ms-linear-gradient( -1deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
}
.decor{
    margin-bottom: 282px;
}
.decor__list{
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    max-width: 1309px;
    height: 231px;
    text-align: center;
    padding: 18px 0 58px;
    border-radius: 52px;
    background-image: -moz-linear-gradient( -1deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
    background-image: -webkit-linear-gradient( -1deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
    background-image: -ms-linear-gradient( -1deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%);
    &::after{
        content: '';
        z-index: -1;
        top: -120%;
        position: absolute;
        max-width: 1029px; 
        height: 791px;
        background: url('../images/num-bg.png') no-repeat; 
    }
}
.decor__card{
    height: 192px;
    &+.decor__card{
        padding-left: 52px;
        border-left: 1px solid #78c0ff;
    }

}
.decor__number-title{
    position: relative;
    font-size: 72px;
    font-family: 'Bold';
    color: #fff;
    margin-bottom: 22px;
    &::after{
        content: '';
        position: absolute;
        width: 44px;
        height: 45px;
        left: 44%;
        bottom: 22%;
    }
    &--one::after{
        background: url('../images/num-one.png') no-repeat;
    }
    &--two::after{
        height: 43px;
        background: url('../images/num-two.png') no-repeat;
        left: 49%;
        bottom: 19%;
    }
    &--three::after{
        width: 51px;
        height: 42px;
        left: 46%;
        bottom: 21%;
        background: url('../images/num-three.png') no-repeat;
    }
    &--four::after{
        width: 44px;
        height: 43px;
        left: 50%;
        background: url('../images/num-four.png') no-repeat;
    }
}
.decor__desc{
    max-width: 213px;
    color: #fff;
}
.calc__req-bg{
    background: url('../images/requirements-bg.png') no-repeat;
    background-position: left top 136px;
}
.calculate{
    padding-bottom: 82px;

}
.calculate__container{
    max-width: 1600px;
}
.calculate__inner{
    display: flex;
    // justify-content: space-between;
    .btn{
     max-width: 297px;
     white-space: nowrap;
     padding: 23px 75px 18px 67px;
    }
}
.calculate__input, .calculate__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 404px;
    margin-right: 41px;
    color: #545557;
        &-input{
            outline: none;
            color: #c6c6c6;
            border: none;
            padding: 19px 0 21px 33px;
            border-radius: 23px;
            box-shadow: 0px 9px 43px 0px rgba(0, 0, 0, 0.1);
        &::placeholder{
            color: #c6c6c6;
        }
        } 
}
.calculate__form-radio{
    margin-top: 25px;
}
.calculate__price{
        position: relative;
        background: #fff;
        border-radius: 29px;
        box-shadow: 0px 9px 43px 0px rgba(0, 0, 0, 0.1);
        padding: 41px 214px 87px 93px;
        max-width: 496px;
        color: #545557;
        line-height: 51px;
        span{
            font-size: 24px;
            font-family: 'Medium';
        }
}

.calculate__title{
    text-transform: uppercase;
    width: 194px;

}
.calculate__text{
    width: 192px;
}
.calculate__img{
    position: relative;
	right: 3%;
    z-index: 2;
}

.calculate__number{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    color: #c6c6c6;
    font-size: 14px;
    line-height: 25px;
    &-right{
        justify-content: end;
    }
}



.services{
    background:  -moz-linear-gradient( -171deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%), url('../images/services-bg.jpg');
    background-image: -webkit-linear-gradient( -171deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%), url('../images/services-bg.jpg');
    background:   -ms-linear-gradient( -171deg, rgb(0,198,255) 0%, rgb(0,156,255) 55%, rgb(0,114,255) 100%), url('../images/services-bg.jpg');
    background-repeat: no-repeat;
    padding-bottom: 243px;
    background-size: cover;
    background-blend-mode: multiply;
    // opacity: 0.91;
    .border__style{
        background-color: #fff;
        background-image: none;
    }
}
.title__content-bg{
    position: static;
    color: #fff;
    padding: 82px 0;
}

.services__list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 24px;
}
.services__container{
    max-width: 1577px;
}
.services__card{
    align-self: center;
    background-color: #fff;
    max-width: 242px;
    padding: 31px 25px 58px 16px;
    border-radius: 19px;
    height: 333px;
    div{
        background-color: rgb(88, 89, 91);
        width: 46px;
        height: 4px;
        margin-bottom: 25px;
    }
}
.services__text{
    font-family: 'Medium';
    color: #545557;
    text-transform: uppercase;
    // line-height: 36px;
    height: 96px;
    margin-bottom: 25px;
}
.services__link{
    font-family: 'Semibold';
    font-size: 20px;
    color: #0053e1;
    line-height: 20px;
    border-bottom: 1px solid #a1b7f1;
}

.services__img{
    margin-bottom: 28px;
}

.questions__list{
    margin: 0 auto;
    max-width: 759px;
    color: #545557;
}
.questions__title{
    font-family: 'Regular';
    display: block;
    cursor: pointer;
    position: relative;
    padding-bottom: 18px;
    &::after{
        content: '';
        right: 46px;
        width: 20px;
        height: 21px;
        position: absolute;
        background: url('../images/faq.png');
    }
}
.questions__input{
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
    &:checked + .questions__text{
        display: block;
    }
}
.questions__item{
    padding-top: 15px;
    border-bottom: 1px solid  rgb(84, 85, 87);
}
.questions__text{
    padding: 10px 0 5px;
    display: none;
    font-size: 14px;
}

.footer{
   
    color: #fff;
    background: url('../images/footer-bg.png') no-repeat;
    background-size: cover;
    height: 100vh;
    .logo{
        margin-bottom: 44px;
    }
}

.footer__inner{
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-top: 303px;
    display: flex;
    align-items: center;
    padding-bottom: 36px;
    justify-content: space-between;
}
.footer__blog{
    max-width: 189px;
    &-align{
        padding-top: 31px;
    }
    &-social{
        max-width: 191px;
        padding-top: 50px;
        position: relative;
    }
    &+.footer__blog{
        height: 181px;
        padding-left: 37px;
        border-left: 1px solid #699ff1;
    }
      
}

.footer__text{
    display: block;
    font-size: 14px;
    padding: 11px 0;
    &-full{
        width: 206px;
    }
}
.footer__blog-info{
    max-width: 193px;
    font-size: 14px;
}
.footer__address{
    position: relative;
    padding-left: 40px;
    &::after{
        content: '';
        width: 13px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../images/locate.png') no-repeat;
    }
}
.footer__mail{
    position: relative;
    display: block;
    margin-top: 14px;
    padding-left: 40px;
    &::after{
        content: '';
        width: 14px;
        height: 9px;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../images/mail.png') no-repeat;
    }
}
.contact, .form, .footer__mobile{
    display: none;
}
.contact{
    margin-bottom: 198px;
}
.footer__mobile{
        background-color: rgb(0, 127, 255);
        box-shadow: 0px 17px 38px 0px rgba(195, 195, 195, 0.35);
        padding-bottom: 262px;
}
.footer__list{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer__link{
    font-size: 32px;
    line-height: 98px;
    border-bottom: 3px solid rgb(107, 106, 106);
}
.footer__phone{
    position: relative;
    display: block;
    margin-top: 24px;
    padding-left: 40px;
    &::after{
        content: '';
        width: 14px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../images/footer-phone.png') no-repeat;
    }
}

.footer__title{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 33px;
}

.social__text{
    width: 198px;  
    padding-bottom: 7px;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.footer__search{
    max-width: 198px;  
    outline: none;
    color: rgb(229, 229, 229);
    border: 1px solid rgb(229, 229, 229);
    background: transparent;
    height: 31px;
    padding: 6px 0 10px 10px;
    &::placeholder{
        font-size: 11px;
        line-height: 14px;
        color: rgb(229, 229, 229);
    }

}
.btn__search{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    top: 56px;
    right: -27px;
    background: url('../images/search.png');
}
.footer__container{
    max-width: 1307px;
}
.footer__input{
    margin-bottom: 44px;
}

.social{
    margin-top: 11px;
    display: flex;
    gap: 10px;
}


.form{
    margin-top: 222px;
    margin-bottom: 329px;
    &__contact{
        text-align: center;
    }
    &__contact-input{
        font-size: 24px;
        color: #007fff;
        width: 100%;
        padding: 32px 0 41px 22px;
        border-color: #007fff;
        &+.form__contact-input{
            margin-top: 23px;
        }
        &::placeholder{
            color: #007fff;
        }
    }
    .btn{
        margin-top: 95px;

    }
}

.contact__info{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__title{
    font-family: 'Bold';
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: #0060ef;
    width: max-content;
    border-bottom: 5px solid #0060ef;
}
.contact__text{
    font-size: 25px;
    line-height: 32px;
    color: #606060;
    a{
        display: block;
        padding-bottom: 9px;
        color: #606060;
    }
    &+.contact__text{
        margin-top: 60px;
    }
}

.contact__phone{
    position: relative;
    border-bottom: 2px solid #606060;
    &::before{
        position: absolute;
        left: -22px;
        bottom: 9px;
        content: '';
        width: 22px;
        height: 23px;
        background: url('../images/contact-tel.png') no-repeat;
    }
}

@media (max-width: 1600px){
    .calculate__img{
        max-width: 38%;
        object-fit: contain;
    }
    .calculate__price{
        max-width: 450px;
    }
    .calculate__form {
        max-width: 380px;
    }
}
@media (max-width: 1390px){
    .calculate__img{
        max-width: 30%;
    }
    .footer__container {
        max-width: 1140px;
    }
    .footer__text-full {
        width: auto;
    }
}
@media (max-width: 1240px){
    .title{
        font-size: 48px;
    }
    .calculate__price {
        max-width: 400px;
    }
    .calculate__input, .calculate__form{
        width: 348px;
    }
    .footer__blog + .footer__blog {
        padding-left: 10px;
    }
    .footer__search {
        max-width: 180px;
    }
    .btn__search {
        right: 7px;
    }
    .social__text {
        width: 180px;
    }
    .benefits__items{
        gap: 25px;
    }
}

@media (max-width: 1170px){
    .requirements__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .requirements__category{
        width: 407px;
        margin-bottom: 76px;
        padding: 37px 0 33px 0;
        justify-content: space-between;
    }
    .requirements__category-auto{
        width: 498px;
        padding: 0;
    }
    .requirements__category-title{
        text-align: center;
    }
    .requirements__category-list{
        margin: 0 auto;
    }
    .requirements__category-auto .requirements__category-list{
        padding: 50px 0 0;
    }
    .requirements__link{
        margin: 0 auto;
    }
    .requirements__category-auto .requirements__category-title {
        padding: 51px 0 44px 0px;
    }
    .requirements__category-auto .requirements__link {
        margin: 18px auto 20px;
}
    .btn-bottom{
    margin-top: 120px;
}
}
@media (max-width: 1100px){
    .calculate__inner {
        justify-content: center;
    }

    .calculate__img{
        display: none;
    }
    .benefits__items{
        justify-items: center;
        grid-template-columns: repeat(3,1fr);
    }
    .services__list {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 13px
    }
    .services{
        padding-bottom: 133px;
    }
    .services__card{
        height: 300px;
    }
    .services__link{
        font-size: 16px;
    }
    .services__text{
        font-size: 14px;
        line-height: 28px;
    }
    .border__style{
        display: none;
    }
    .benefits__img {
        width: 100%;
    }

}
@media (max-width: 1024px){
    .home__image {
        width: 500px;
        height: 455px;
    }
    .decor__list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 453px;
        width: 100%;
        background-image: -webkit-linear-gradient(-90deg, rgb(0, 198, 255) 0%, rgb(0, 156, 255) 42%, rgb(0, 114, 255) 50%);
    }
    .decor__desc{
        margin: 0 auto;
    }
    .services__card {
        max-width: 190px;
    }
    .decor__card + .decor__card {
        padding-left: 0;
    }
    .calculate__input, .calculate__form {
        width: 100%;
        margin-right: 0; 
    }
}
@media (max-width: 850px){
    .calculate__inner {
      flex-direction: column;
      justify-content: initial;
    }
    .home__image {
        width: 386px;
        height: 430px;
    }
    .calculate__input, .calculate__form {
        max-width: 570px;
    }
    .calculate__inner .btn {
        margin: 47px auto 54px;
    }
    .calculate__price{
        max-width: 610px;
    }
}
@media (max-width: 750px){
    .home__image {
        width: 276px;
        height: 338px;
    }
    .benefits__items-card-last{
        transform: translate(80%);
    }
    .benefits__items{
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer{
        display: none;
    }
    .contact, .form, .footer__mobile{
        display: block;
    }
}
@media (max-width: 650px){
    .bur{
        display: block;
        width: 57px;
        span{
        display: block;
        height: 5px;
        background: #fff;
        &+span{
            margin-top: 11px;
        }
        }
    }
    .home__image, .phone{
        display: none;
    }
    .home__text{
        text-align: center;
        max-width: 538px;
        margin: 0 auto;
    }
    .calculate__title {
        margin-bottom: 24px;
    }
    .questions__title {
        &::after{
            right: 0;
        }
    }
    .calculate__number {
        margin-bottom: 40px;
    }
}
@media (max-width: 510px){
    .services__list{
        grid-template-columns: repeat(2, 1fr);
    }
    .requirements__category-auto {
        max-width: 420px;
    }
    .requirements__category-auto .requirements__category-item {
        width: 331px;
    }
    .calculate__price {
        padding: 41px 90px 82px 38px;
    }
    .questions__title {
        max-width: 380px;
    }
    .form__contact-input {
        padding: 23px 0 24px 22px;
    }
}
@media (max-width: 440px){
    .title{
        line-height: 65px;
    }
    .benefits__items {
        grid-template-columns: 1fr;
    }
    .benefits__items-card-last {
        transform: none; 
    }
    .services__list{
        grid-template-columns: 1fr;
    }
    .services__card{
        width: 100%;
        max-width: inherit;
        text-align: center;
        div{
            margin: 0 auto 25px
        }
    }
    .requirements__category {
        max-width: 350px;
        &-list{
            max-width: 215px;
        }
    }
    .title__content {
        font-size: 30px;
        z-index: -1;
        line-height: 46px;
    }
    .requirements__category-title {
        font-size: 27px;
    }
    .decor__number-title {
        font-size: 60px;
    }
    .decor__desc{
        font-size: 17px;
    }
    .decor__list {
        height: 390px;
    }
    .decor__card + .decor__card {
        border-left: none; 
    }
    .calculate__inner{
        .btn{
            padding: 23px 28px 18px 25px;
        }
    }
    .form__contact-input{
        padding: 17px 0 26px 22px;
    }
    .bur {
        width: 43px;
    }
    .requirements__category-auto .requirements__category-item {
        max-width: 259px;
    }
   .btn::after{
        position: static;
        max-width: 297px;
    }
    .footer__link{
        font-size: 26px;
        line-height: 72px;
    }
    .requirements__category-auto .requirements__category-list {
        padding: 15px 0 0;
    }
}

@media (max-width: 360px){
    .title{
        font-size: 43px;
        line-height: 80px;
    }
    .subtitle{
        font-size: 32px;
        line-height: 53px;
    }
    .requirements__category {
        max-width: 275px;
    }
    .requirements__category-auto .requirements__category-item {
        max-width: 244px;
    }
    .requirements__category-auto .requirements__category-list {
        padding: 0;
        width: 220px;
    }
    .calculate__price {
        max-width: 280px;
    }
    .header .btn {
        padding: 22px 45px 18px 37px;
}
.form__contact{
    .btn{
        padding: 23px 28px 18px 25px;
    }
}

.requirements__category-auto .requirements__link {
    margin: 3px auto 20px;
}
}
